<template name="createModal">
    <div class="create-modal">
        <div class="topButtons"><i class="fa fa-times closeCreate"></i></div>
        <h2>Add A New Meteorite</h2>
        <form>
            <label for="firstName">First Name</label><input type="text" id="firstName" placeholder="First Name">
            <label for="lastName">Last Name</label><input type="text" id="lastName" placeholder="Last Name">
            <label for="email">Email</label><input type="email" id="email" placeholder="Please enter your email address">
            <label for="priorWork">Prior Work</label><textarea type="text" id="priorWork" placeholder="Please list any prior experience"></textarea>
            <label for="aspirations">Aspirations</label><input type="text" id="aspirations" placeholder="List your aspirations">
            <label for="skills">Skills</label><input type="text" id="skills" placeholder="Skills">
            <label for="twitter">Twitter</label><input type="text" id="twitter" placeholder="Twitter Profile">
            <label for="linkIn">LinkedIn</label><input type="url" id="linkIn" placeholder="LinkedIn Profile">
            <label for="faceBook">Facebook</label><input type="url" id="faceBook" placeholder="Facebook Profile">
            <button class="createBtn">Submit</button>
        </form>
    </div>
</template>
