<template name="createModal">
    <div class="create-modal">
        <div class="topButtons"><i class="fa fa-times closeCreate"></i></div>
        <h2>Add A New Meteorite</h2>
        <form>
            <input type="text" id="firstName" placeholder="First Name">
            <input type="text" id="lastName" placeholder="Last Name">
            <input type="email" id="email" placeholder="Please enter your email address">
            <textarea type="text" id="priorWork" placeholder="Please list any prior experience"></textarea>
            <input type="text" id="aspirations" placeholder="List your aspirations">
            <input type="text" id="skills" placeholder="Skills">
            <input type="text" id="twitter" placeholder="Twitter">
            <input type="url" id="linkIn" placeholder="LinkedIn">
            <input type="url" id="faceBook" placeholder="Facebook">
            <button class="createBtn">Submit</button>
        </form>
    </div>
</template>