<template name="viewModal">
    <div class="column third" data-in="{{_id}}">
        <div class="topButtons"><i class="fa fa-pencil editOverlay"></i> &nbsp;<i class="fa fa-times closeView"></i></div>
        <div class="avatar">
            <img src="img/no_avatar.jpg">
        </div>
        {{#each viewamember}}
            <span class="info first"><strong>Name:</strong> {{name.firstName}} {{name.lastName}}</span>
            <span class="info"><strong>Email:</strong> {{email}}</span>
            <span class="info"><strong>Prior Work Experience:</strong> {{priorWork}}</span>
            <span class="info"><strong>Aspirations:</strong> {{aspirations}}</span>
            <span class="info"><strong>Skills:</strong> {{skills}}</span>
            <span class="info first"><a href="http://linkedin.com/in/{{contact.linkIn}}"><i class="fa fa-linkedin-square fa-2x"></i></a> <a href="http://www.facebook.com/{{contact.faceBook}}"><i class="fa fa-facebook-square fa-2x"></i></a> <a href="http://www.twitter.com/{{contact.twitter}}"><i class="fa fa-twitter-square fa-2x"></i></a></span>
        {{/each}}
    </div>
</template>
